@page "/instituciones"

@inject IInstitucionService servicioInstitucion

<h3>Listar Instituciones</h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/institucion/crear" class="btn btn-primary m-1">Agregar Nuevo</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Nombre Institucion</strong></th>
                <th><strong>Direccion</strong></th>
            </tr>
        </thead>
        @foreach (var item in InstitucionesLista)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
            </tr>
        }
    </table>
</div>

@code {
    public List<Institucion> InstitucionesLista { get; set; } = new List<Institucion>();

    protected override async Task OnInitializedAsync()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoib3NtYXIiLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxMjEwMTc4OH0.Jp6ni_qjKlWNlA_tAcjggoCwW14LGYtAFUUSxqtzfWY";
        var respuesta = await servicioInstitucion.ListaInstituciones(token);
        InstitucionesLista = respuesta;
    }

}
