<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofuncosmar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3dac5896-e591-479c-ab37-431a49099fb3/resourceGroups/demofuncosmar_group/providers/Microsoft.Web/sites/demofuncosmar</ResourceId>
    <UserName>$demofuncosmar</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://demofuncosmar.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>